{% extends "base.html" %}

{% block head_title %}Add Restaurant | {{ block.super }}{% endblock head_title %}

{% block content %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
<h1>Add Restaurant</h1>
<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% endblock content %}


<!--<input type="text" name="name" placeholder="Name of the Restaurant">-->
<!--<input type="text" name="location" placeholder="Location">-->
<!--<input type="text" name="category" placeholder="Category">-->